<section data-ng-controller="ApiController">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 col-xs-6 text-center">
                <div class="input-group" ng-keypress="event=$event">
                <input type="text" class="form-control" data-ng-model="zip" id="zip" placeholder="{{zipCode}}" required>
                    <div ng-if="event.keyCode === 13">
                        <div ng-init="search()"></div>
                    </div>
                    <span class="input-group-btn">
                        <button type="button" class="btn" data-ng-click="search()" > 
                            <span class="glyphicon glyphicon-search"></span> </button>
                    </span>
                </div>
        </div>
        </div>
    
    
    <div data-ng-repeat="one in result">
        <h4 data-ng-bind="one.title"></h4>
        <h4 data-ng-bind="one.description"></h4>
        
        <div ng-hide="authentication.user"><a href="/oauth/facebook">  <h4 data-ng-bind="one.votes.count"></h4> </a> </div>
        
        <div ng-show="authentication.user" data-ng-init="btnId=one.votes._id">
            <button data-ng-attr-id="btnId" class="button" data-ng-bind="one.votes.count" data-ng-click="update(btnId)"></button>
        </div>
       
        
    </div>
    <h1 data-ng-show="error">
        <div data-ng-bind="error"></div>
    </h1>
    </div>
</section>