<section data-ng-controller="ApiController">
    <h1> Search </h1>
    <form data-ng-submit="search()" novalidate>
        <input type="text" data-ng-model="zip" id="zip" required> 
        <input type="submit">
    </form>
    
    <div data-ng-repeat="one in result">
        <h4 data-ng-bind="one.title"></h4>
        <h4 data-ng-bind="one.description"></h4>
        
        <div ng-hide="authentication.user"><a href="/oauth/facebook">  <h4 data-ng-bind="one.votes.count"></h4> </a> </div>
        
        <div ng-show="authentication.user" data-ng-init="btnId=one.votes._id">
            <button data-ng-attr-id="btnId" class="button" data-ng-bind="one.votes.count" data-ng-click="update(btnId)"></button>
        </div>
       
        
    </div>
    <h1 data-ng-show="error">
        <div data-ng-bind="error"></div>
    </h1>
</section>