<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <button class="btn btn-primary">Hi</button>
        <% include ./partials/links %>
    </body>
</html>
    